[2018-06-12 11:09] breadadams opened #3 "Not working 100%?"
We're testing this on iOS and Android and seeing mixed results from the same code. We have a button, running `openInbox()` onPress.

* iOS (11)
  * **Simulator:** ~~Nothing occurs when running the method, although I have a feeling this could be due to not having any accounts setup on the device.~~ Expected behaviour.
  * **Real device:** ~~Always get taken directly to the system Mail.app, even tho

[2018-06-12 11:14] tschoffelen commented on #3
I must admit that I have not tested it with the Gmail app for iOS anytime recently - seems like the URL scheme might have changed.

This library does not currently support Android. I do have working code available for opening the inbox on Android, but haven’t yet found the time to merge it since it’s native code and will require a bit more testing then the simple Javascript required to make this w

[2018-06-12 11:14] tschoffelen commented on #3
Oh, and of course thanks for taking the time to look into this lib and for your PRs!

[2018-06-12 11:33] breadadams commented on #3
My pleasure @tschoffelen, thanks for the handy lib 😄. In response to your comments:

True, that could be the case, I'll look into it.
___

Darn, the `Platform.OS` conditionals in `index.js` got me thinking it was cross-platform.
___

Absolutely, we can give that a go 👍

[2018-06-12 11:56] tschoffelen commented on #3
Alright, I just created the branch [android-support](https://github.com/includable/react-native-email-link/tree/android-support). Did it quickly during lunch, so didn't actually have a change to test anything, but I added the native Android code, as well as the JS that should be able to invoke that native code. What I'm not sure about yet is if there's more that needs to be done for this to be pro

[2018-06-12 16:33] breadadams commented on #3
Lovely @tschoffelen, we'll take a look at it asap

cc: @gabrielperales - if you get a chance before me ☝️

[2018-06-13 14:03] gabrielperales commented on #3
@tschoffelen I couldn't make it work for android. I'll try to fix it at some point, but for now, we are going to keep working on our app without this feature.

[2018-06-16 15:05] breadadams commented on #3
iOS gmail is working if you follow #4

![image](https://user-images.githubusercontent.com/5795227/41499824-7a85ab1c-7187-11e8-9320-45012254840c.png)

It'd be good if someone could test the other providers

[2018-06-16 15:11] breadadams opened #5 "Customize text labels"

[2018-06-16 16:54] tschoffelen commented on #3
Great, thanks!

[2018-06-16 16:55] #5 closed

[2018-06-25 07:44] mvanroon opened #7 "README.md doesn't describe options"
Great util guys. I just noticed that the options that can be supplied to openInbox() aren't in the readme

[2018-06-25 08:00] tschoffelen opened #8 "Add error when no mail apps are available on iOS"
When no email apps are available to open at all, the library should show an error.

Currently the lack of this causes it to look like it isn't working at all on the iOS Simulator (#3), since Mail.app is not installed on there by default.

[2018-07-04 17:42] nickstamas opened #9 "MailTo Functionality"
Does this allow for a mailto: style link to be passed?

[2018-07-04 17:58] tschoffelen commented on #9
No, this library currently only supports opening the user's mailbox (e.g. after sending a magic link).

You can already open mailto links with [`Linking.openURL()`](https://facebook.github.io/react-native/docs/linking.html).

[2018-07-05 12:05] #9 closed

[2018-09-19 08:37] mvanroon commented on #3
Android supports picking an email client out of the box. What I did in my (Android-specific) code was simply:
[code]

[2018-09-19 10:03] tschoffelen commented on #3
@Mvanroon that will open the email _composer_ though, not the _inbox_, right?

Main purpose of this library (at least for my usage) is to open the inbox so that if you send a confirmation/magic link email of sorts, you can get the user to the right place. Example:

[code]

[2018-09-19 11:06] mvanroon commented on #3
right that makes sense - sorry

Any progress on android support? Could this help? https://github.com/chirag04/react-native-mail/issues/59#issuecomment-347872652

[2018-09-19 11:10] tschoffelen commented on #3
The native code in the [`android-support` branch](https://github.com/includable/react-native-email-link/tree/android-support) should work (I'm using it in production, but not as part of this library), but linking etc. still needs to be sorted out before that branch can be merged into master.

[2018-09-19 13:28] mvanroon commented on #3
Cool. I made some adjustments: https://github.com/includable/react-native-email-link/pull/11

[2018-09-19 13:29] tschoffelen commented on #3
Great, thanks @mvanroon! Can you confirm the PR I just merged fixes the Android problems?

[2018-09-19 13:30] mvanroon commented on #3
Yep. Working fine in my apps. Feel free to try it out.

[2018-09-19 13:32] tschoffelen commented on #3
Sorry, bit of a lazy question of course, but I don't have time to compile an Android app right now.

Closing this issue, if anyone else continues to have problems please open a new one!

[2018-09-19 13:32] #3 closed

[2018-09-19 13:36] mvanroon commented on #7
Just found this old issue, heh :)

I can pick this up myself if you like. Should we make the options optional? Neither ActionSheetIOS nor the Android native module require a title.

[2018-09-19 13:48] breadadams commented on #3
Nice one @mvanroon, will try it out when I can 👍

[2018-09-19 13:51] tschoffelen commented on #7
For usability, I would just keep the default ones if no/empty values are specified. Although a title isn't required, a ActionSheet with only the names of the email clients might not be the clearest thing in the world.

[2018-09-19 13:54] mvanroon commented on #7
- You click 'open email'
 - a list of email client shows up
 - the title reads 'open email'
 - the message reads 'please pick an email client'

might be a bit too much if you ask me - but I'll settle for just making the options.message optional. Is that something that you can live with? 😸

[2018-09-19 14:39] tschoffelen commented on #7
Haha, agreed. I think we can even remove the default value for message. Title is indeed more than enough.

[2018-10-09 16:44] SonQBChau opened #12 "Flow: cannot resolve module react-native-email-link"
Flow and eslint would not recognize the module.
It's not a bug, everything is running fine but it would be nice to have it fixed.

Current version:
React-native: 0.57
eslint: 5.6.1
flow: 0.78

[2018-10-09 21:53] tschoffelen commented on #12
I'm not really using Flow a lot. Any chance you could suggest a fix?

[2018-12-13 17:20] greenkeeper[bot] opened #13 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-04-03 10:29] JoshAntBrown opened #15 "The minSdk version should not be declared in the android manifest file."
After installing the library and running `react-native link react-native-email-link` the gradle sync fails with the following error message:

Removing the minSdkVersion line from the AndroidManifest.xml resolves this issue and allows gradle to sync

[2019-04-03 11:17] #15 closed

[2019-04-15 11:30] flexbox commented on #12
@SonQBChau Do you think you can close this issue?
Because the entire industry is migratinf to TypeScript now :)

[2019-04-15 14:29] #12 closed

[2019-05-15 10:32] ball-hayden opened #17 "License File"
Good day.

Thanks for the great library. I notice you have set the license for this package to `MIT` in `package.json`, but haven't included a `LICENSE` or `COPYING` file in the repo.

Please can you confirm this library is indeed licensed under the MIT license, and consider adding the license to the repo?

[2019-05-15 10:42] tschoffelen commented on #17
It is indeed MIT licensed.

Added a license file in https://github.com/leanmotherfuckers/react-native-email-link/commit/632db1d504e020607150308b72a075f0793bc04d

Thanks!

[2019-05-15 10:42] #13 closed

[2019-05-15 10:50] #17 closed

[2019-05-15 12:59] ball-hayden commented on #17
Thanks for your prompt response 🙂

[2019-05-21 11:07] flexbox opened #18 "WARNING: Configuration 'compile' is obsolete and has been replaced with 'implementation' and 'api'."
When we build the app on android we have this warning message:

[code]

[2019-05-21 11:16] #18 closed

[2019-05-22 03:52] mk-nickyang opened #20 "[Android] Attempt to invoke virtual method 'int android.content.Intent.getFlags()' on a null object reference"
Hi, this library works perfectly on most Android devices, but when I tested it on a Galaxy S6 with Android 5, it crashed. Here's the stack trace I got
[code]

I also experienced the similar crashes when I test it on some Android Emulators with Android 7 (API version 25) or earlier

[![Image from Gyazo](https://i.gyazo.com/f845d6f37c80f3828552df6a3b0aa1fe.png)](https://gyazo.com/f845d6f37c80f382855

[2019-05-23 18:04] tschoffelen commented on #20
@RBogie any chance you could have a look at this some time next week? I noticed we are also getting similar crash reports for our own app (Hoy).

Thanks!

[2019-05-29 10:16] jorisw commented on #20
Same error here, on Android only.

[code]

[code]

[2019-06-10 12:38] oferRounds opened #22 "Question: open mail app with predefined email?"
Hi, thank you for this library! Looks good!

Can I use it open the mail app with a predefined email?

[2019-06-10 13:11] tschoffelen commented on #22
Hi,

No, at the moment this library is only able to show the user's inbox screen.

[2019-06-10 13:11] oferRounds commented on #22
Got you, thanks!

[2019-06-10 13:11] #22 closed

[2019-06-20 06:21] #7 closed

[2019-06-27 08:10] johnnyborg commented on #20
Yeah, we've got this issue too. Its however not an issue on the line state @jorisw but a bit lower. Android on lower SDKs has an com.android.fallback package which has no default intent, causing the null pointer exception.

I've written an fix for this. @tschoffelen can you integrate it?
https://github.com/leanmotherfuckers/react-native-email-link/pull/24

[2019-06-27 09:24] tschoffelen commented on #20
Thanks @johnnyborg, that's great! I've incorporated your fix into the latest NPM release (`react-native-email-link@1.4.0`).

[2019-06-27 09:24] #20 closed

[2019-06-27 10:20] johnnyborg commented on #20
Awesome, @tschoffelen . Bedankt ;-)!

[2019-07-03 14:09] zbrukas opened #25 "AndroidX support?"
Hi. Will this project be receiving updates to support AndroidX?

[2019-07-03 14:47] tschoffelen commented on #25
Since this library doesn't rely on any external dependencies, I think it will only need the `minVersion` and `targetVersion` of the Gradle config to be updated for AndroidX support, right?

Not too much of an Android dev myself, so any guidance with this is very much welcome! My company is using this library in a few different production apps, so I'm very much committed to keeping it up to date.

[2019-07-14 12:10] jorisw opened #26 "rnpm config deprecated"
[code]

[2019-07-14 12:49] tschoffelen commented on #26
Hi @jorisw, could you give this a try?

https://github.com/leanmotherfuckers/react-native-email-link/pull/27

[2019-07-25 13:18] jorisw commented on #26
Think it's fixed! The error is gone. However, I can't be 100% sure of its functionality due to other blocking build errors in my project.

[2019-07-25 15:03] #26 closed

[2019-08-08 13:57] sprotymo commented on #12
You can use:
 flow-typed create-stub react-native-email-link

[2019-09-19 09:06] udeyrishi opened #29 "Android: allow for starting the email app in the same task"
The Android [code](https://github.com/leanmotherfuckers/react-native-email-link/blob/master/android/src/main/java/com/facebook/react/modules/email/EmailModule.java#L62) currently forces that the email app will be started in a new task. Some use cases might require that to not be the case. It'd be nice if there were an optional param that allowed users to stay in the current task.

[2019-09-19 09:36] tschoffelen commented on #29
Feel free to submit a PR for that. My understanding of how Android's system of tasks and intents works is too limited I'm afraid.

[2019-09-19 11:29] udeyrishi commented on #29
Opened up the PR here: https://github.com/leanmotherfuckers/react-native-email-link/pull/30. Would love to get a release out with this change 🙏

[2019-09-25 13:26] tschoffelen commented on #29
I saw you closed the PR. Did the approach end up not working?

[2019-09-25 13:50] udeyrishi commented on #29
It needs a little more love. I had to dig into the `getLaunchIntentForPackage` source, and I noticed that that function is also adding the new task flag. So we need to explicitly remove that flag as well. Sorry I didn't get a chance to open a PR with that fix; I'll put it out soon.

[2019-09-25 13:55] tschoffelen commented on #29
Ah, great, thanks for the update!

[2019-09-26 05:13] cesar3030 commented on #22
@oferRounds I've created a PR #31 to add this feature to this awesome library. For now it's only working on iOS. Feel free to help implementing the Android part :)

[2019-09-26 06:12] oferRounds commented on #22
Wow! Awesome! way to go
Will try to look into Android

Thanks for remembering!

[2019-09-26 17:45] cesar3030 commented on #22
Thank you very much!

[2019-10-03 21:45] udeyrishi commented on #29
I'm actually struggling to get the project to compile in a fairly recent setup of android studio 😅 Looks like the build.gradle files haven't been updated in a while. I might open up a PR to bump that first.

[2019-10-03 22:38] udeyrishi opened #35 "Android: incorrectly using facebook package names"
I noticed that the android source files are declared under the `com.facebook.*` package names. For instance: https://github.com/tschoffelen/react-native-email-link/blob/master/android/src/main/java/com/facebook/react/modules/email/EmailModule.java#L1.

Since this is not a first-party facebook lib, we should consider renaming it. This will be a non-backwards compatible breaking change though.

[2019-10-03 22:41] udeyrishi opened #36 "Cannot build the android project in Android Studio 3.5.1"
Repro steps:

- Cloned master at e252d5635435396f425bb2532e5d60218352cd38
- Opened the /android directory in Android Studio 3.5.1

Expected: project loads and builds
Actual:

<img width="1539" alt="image" src="https://user-images.githubusercontent.com/4692593/66169134-a8c01700-e63f-11e9-8f59-a72608b311fd.png">

[2019-10-04 05:21] tschoffelen commented on #35
Agreed! Let’s work towards a 2.0 version once we have the open PRs merged!

[2019-10-05 15:37] #36 closed

[2019-10-05 15:38] #29 closed

[2019-10-05 15:38] tschoffelen commented on #25
Pretty sure this has been resolved by #34.

[2019-10-05 15:38] #25 closed

[2019-10-05 15:44] tschoffelen commented on #8
Thanks to the changes by @cesar3030 an `EmailException` is now thrown, which is sufficient to mark this as fixed! 🎉

[2019-10-05 15:44] #8 closed

[2019-10-09 17:57] tschoffelen commented on #35
Other changes have been merged, so feel free to create a PR to rename the packages if you feel like it!

Otherwise I'll do it at some point, but don't think I'll get time to do it properly until next month.

[2019-10-20 22:40] fnando opened #40 "`openInbox()` fails when called without an object"
The README instruction is misleading; if you call `openInbox()`, you'll see an error like `TypeError: Cannot use 'in' operator to search for 'app' in undefined`. The fix is either requiring the options object to always be provided (e.g. `openInbox({})`), or changing `getApp` to default to an empty object.

I'd like to know what would be the proper fix to come up with a pull request.

Thanks!

[2019-10-21 05:08] tschoffelen commented on #40
Oh! That is obviously not the intended behaviour.

I think we just need to add a default value for the `options` param in `openInbox`: https://github.com/tschoffelen/react-native-email-link/blob/master/index.ios.js#L237

[2019-10-21 05:12] fnando commented on #40
There you go: https://github.com/tschoffelen/react-native-email-link/pull/41

[2019-10-21 05:14] #40 closed

[2019-11-06 22:45] jazzymb7 opened #43 "How do I add to and subject for android?"

[2019-11-07 06:25] tschoffelen commented on #43
Currently, as the README states, only the `openInbox` function is available on Android. There's no `openComposer` implementation for Android yet, but I welcome a PR of course!

[2019-11-28 13:28] yelkamel opened #44 "[Android] openInbox() not working"
When I use the function openInBox() in iOS everything seem ok but in Android it's not working.

My environment:

  npmPackages:
    react: 16.9.0
    react-native:  0.61.4
    react-native-email-link:  ^1.6.4

[2019-11-28 13:29] tschoffelen commented on #44
Hi! Do you get any error? Also, do you have a supported email app installed on the device you're using to test this?

[2019-11-28 14:22] yelkamel commented on #44
I don't get any error and everything work with react-native-mail-launcher ...

[2019-11-28 14:22] #44 closed

[2019-12-03 07:40] fractalmarc opened #45 "How to get working with react-native-web?"
Hi there, how might one get this working with react-native-web?

When I run `expo start --web`, I get the error
`Module not found: Can't resolve 'react-native-email-link' in '/Users/mgelfo/projects/fun/GMI_Mobile/src/screens'`

Otherwise it's working great on mobile!

[2019-12-03 09:31] tschoffelen commented on #45
I personally don't really have any experience with react-native-web, so I'm not sure what needs to change in this library to make it work. I'd have assumed it would work out of the box, since it only depends on `Linking` from `react-native`.

[2020-01-16 12:05] berkaey commented on #8
@tschoffelen

trying to catch that like below, but it won't, is there any specific use case?

[code]

[2020-01-16 12:07] berkaey commented on #8
🤦‍♂️ for anybody else...

[code]

[2020-01-16 12:11] tschoffelen commented on #8
Hi @berkaey, the reason that your first code snippet didn't work is that `openInbox()` is async, so you'd need an `await` in there:

[code]

[2020-02-09 17:04] TBenedyk opened #48 "openInbox() is not working on Android"
I'm getting the following error when I run `openInbox()` on android. I have the gmail app on my phone. It's being run on expo. Can anybody help?

[code]

[2020-02-09 17:33] tschoffelen commented on #48
On Android, this functionality requires a native module (since it has to create an `Intent`), meaning that it only works with regular React Native apps, not with Expo unfortunately...

[2020-02-09 18:40] #48 closed

[2020-02-10 08:40] tschoffelen commented on #45
Hi @fractalmarc, any luck getting this to work eventually?

[2020-02-13 15:24] switch13 opened #49 "Add arguments to the usage example"
Sorry, I'm new at this. Is there a way you can show some example usage for implementing some of the arguments in the openInBox() in the Readme? Or point me somewhere with already implemented examples? I struggle with getting started with these. Thanks in advance!

[2020-02-13 16:38] tschoffelen commented on #49
Hi! I can see where the confusion comes from. The arguments should be passed in as an object:

[code]

[2020-02-13 16:40] switch13 commented on #49
Thank so much!!! that was quick! Are you ok if a do a pull request for the readme file?

[2020-02-13 16:40] #49 closed

[2020-02-13 16:42] tschoffelen commented on #49
@switch13 Sure, feel free to do a PR to clarify the README.

[2020-02-21 19:03] bilalyaqoob opened #51 "This package is not working for me"
"react-native-email-link": "^1.4.0",

react-native-cli: 2.0.1
react-native: 0.59.9

it is showing no change in my app

[2020-02-22 09:02] tschoffelen commented on #51
Can you give some more details about how you're using the library (i.e. a snippet of your code)?

[2020-02-22 19:33] bilalyaqoob commented on #51
import { openInbox, openComposer } from 'react-native-email-link'

onSend = () => {
openInbox({
    title:"abcd",
    message: 'Whatcha wanna do?',
    cancelLabel: 'Go back!'
})
}

<RaisedTextButton
                onPress={() => this.onSend()}
                title='Send Email'
                titleColor='#FFF'
                style={ThemeStyle.buttonColor}
            />

[2020-02-25 08:45] tschoffelen commented on #51
Sorry for the slow response.

That seems completely fine. Is it possible your testing the app on a device or simulator that doesn't have any of the supported email apps installed?

Alternatively, if you're using a version of React Native under 0.60.0, you might need to manually link the library for use on Android, as mentioned in the [installation section of the README](https://github.com/tschoffe

[2020-02-25 15:16] bilalyaqoob commented on #51
I also did that
<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>message</string>
		<string>readdle-spark</string>
		<string>airmail</string>
		<string>ms-outlook</string>
		<string>gmail</string>
		<string>googlegmail</string>
		<string>inbox-gmail</string>
		<string>ymail</string>
		<string>superhuman</string>
	</array>

and i have gmail installed and yahoo mail installed

[2020-02-25 15:30] bilalyaqoob commented on #51
when i use this
 openComposer({
          title: "abcd",
          to: 'yourEmail@address.com',
          subject: 'Wanna change the world?',
          body: 'This is our year!',
          message: 'Whatcha wanna do?',
          cancelLabel: 'Go back!'
        })
      } catch (error) {
        console.log(error);
      }

i got this error:
Possible Unhandled Promise Rejection (id: 0):
W/ReactNati

[2020-02-25 15:33] bilalyaqoob commented on #51
when i use
openInbox({
          title: "abcd",
          to: 'bilalyaqoob111996@gmail.com',
          subject: 'Wanna change the world?',
          body: 'This is our year!',
          message: 'Whatcha wanna do?',
          cancelLabel: 'Go back!'
        })
      } catch (error) {
        console.log(error);
      }

i got this error
Possible Unhandled Promise Rejection (id: 4):
W/ReactNativeJS

[2020-02-26 15:07] ShaharyarMaroof opened #52 "Clicking Cancel in the ActionSheet throws unhandled promise exception"
I am calling the openInbox function on a button click from my app. The ActionSheet for the Email App Selection opens up showing Gmail , Mail and the Cancel option.

If I click on the cancel option the following exception occurs:
![IMG_0528](https://user-images.githubusercontent.com/10959027/75357354-11e84580-58d3-11ea-899b-17902b39d749.PNG)

[2020-03-04 08:55] tschoffelen commented on #52
Oh, that's obviously not the intended behaviour. Feel free to submit a PR if you have the time.

Otherwise a quick fix is put a try-catch statement around the call, although that's obviously not the cleanest solution...

[2020-03-04 09:00] tschoffelen commented on #51
That sounds like the native Android module is not installed correctly - did you make sure to rebuild the native part of your app after adding this library?

[2020-03-06 01:12] brandondadam opened #53 "Won't open email on Android"
I'm testing on the Android Studio emulator as well as building to my device and I can't seem to get the email app to open. I have attempted to do this on android v9 & v10. I wrapped it in a try catch to handle the promise, it works fine on iOS. I also tried to remove the try catch and simply called the function on button press, and the same issue, no email app opening.

Here is my implementation:

[2020-03-06 01:22] #53 closed

[2020-03-06 01:24] brandondadam commented on #53
Whoops, I messed and I thought I had a later version of React Native installed. I needed to manually link the package. Thank you!

[2020-03-14 17:52] gekitz commented on #43
This is how it could work.
https://github.com/gekitz/react-native-email-link/pull/1

[2020-03-14 22:00] tschoffelen commented on #43
Awesome @gekitz! Mind opening a PR with that change in this repo? I'd gladly merge it!

[2020-03-15 08:47] gekitz commented on #43
sure, here you go. https://github.com/tschoffelen/react-native-email-link/pull/54 I hope you don't mind the automatic code reformatting.

[2020-03-23 18:00] bedoxonline opened #55 "Does this package work with an Expo app ?"
Hi,

firstly thank you for letting this package be open source !

So, I have a React Native app that runs with Expo 3.11.7.
I have installed the package as explained inside the docs, and it works like a charm on iOS.

Though, on Android it doesn't. So I'm wondering, does this package work properly with Expo ? Or is it only for apps that are made with RN-CLI ?

N.B: I'm using openInbox() function,

[2020-03-23 20:33] tschoffelen commented on #55
Unfortunately, it does not, since this package needs some native code on Android to provide its functionality. I can't see a way at the moment to implement that using Expo.

[2020-03-23 20:34] #51 closed

[2020-03-26 20:36] ObidosDev opened #56 "TypeScript support for iOS expanded functionality"
I have discovered that iOS has a little bit more functionality than described in doc. So it should be developed stub for android and normal d.ts done too

[2020-03-27 13:09] tschoffelen commented on #56
Hi, good point. I think some recent additions might not have been reflected in the d.ts yet. Any chance you could do a PR?

[2020-03-30 19:03] yogendragirase55 opened #57 "Not open mail App in Android"
I am using this code:
`openInbox({
	message: 'Whatcha wanna do?',
	cancelLabel: 'Go back!'
})`
getting possiable anhandled promise rejection (id:5)

[2020-04-01 02:01] max10rogerio opened #58 "[ANDROID] Error: openComposer"
I have this error on use `openComposer`

![Screenshot_20200331-225113_mobile 1](https://user-images.githubusercontent.com/21085292/78091490-5c158880-73a3-11ea-8322-088ecd3b00e5.jpg)

react-native: "0.62.0",
react-native-email-link: "^1.7.3"
smartphone: Samsung Galaxy J7 Prime 2
Android Version: 9

My Code:
[code]

PR #54

[2020-04-01 07:14] tschoffelen commented on #58
@gekitz any chance you have some time to look at this one maybe?

[2020-04-01 07:17] gekitz commented on #58
I'll have a look

[2020-04-03 10:59] #55 closed

[2020-04-08 22:08] danjenkins commented on #58
@gekitz did you get anywhere with this? I've just hit it

[2020-04-13 21:50] awkpagong opened #59 "openInbox not working on Android"
When calling `openInbox()` on Android I'm getting the following error: `TypeError: null is not an object (evaluating '_reactNative.NativeModules.Email.open')`.  I am guessing there is something wrong with the auto-linking but I do not have enough expertise to troubleshoot the problem.  I am on react-native version 62.2.  Any help would be greatly appreciated!

<img width="501" alt="Screenshot 2020

[2020-04-14 08:01] tschoffelen commented on #59
Did you rebuild the app and clean any caches after installing the library?

[2020-04-14 08:07] tschoffelen commented on #57
If this is still a problem, let's chat in #59

[2020-04-14 08:07] #57 closed

[2020-04-14 08:13] tschoffelen commented on #56
The `index.d.ts` currently actually reflects the functionality pretty well. The only inconsistency is that the `cc` and `bcc` fields are currently not available on Android, but that should change soon.

Closing this one for now, but do feel free to open a PR if you still think the `index.d.ts` file needs a bit more work. Thanks!

[2020-04-14 08:13] #56 closed

[2020-04-14 08:14] #43 closed

[2020-04-14 08:15] tschoffelen commented on #45
Closing this one for now, since there doesn't seem to be too much demand for RN web support at the moment. Still welcome a PR though!

[2020-04-14 08:15] #45 closed

[2020-04-14 11:38] awkpagong commented on #59
@tschoffelen I tried doing `watchman watch-del-all && rm -f yarn.lock && rm -rf node_modules && yarn && yarn start --reset-cache`. Is there something else I should try? Note: I am using an ejected expo app.

[2020-04-14 17:56] acollazomayer opened #60 "Html not working"
I am passing html on the body of my email and is not being recongnized. Any idea why this might be happening?

[2020-04-14 18:07] kenkotch commented on #60
html seems to be working everywhere except gmail and outlook. Any idea why?

[2020-04-14 20:04] tschoffelen commented on #60
It looks like neither of those clients support that at the moment unfortunately:

* [Outlook](https://stackoverflow.com/questions/59257114/how-to-configure-html-body-for-ms-outlook-compose-body-parameter-for-outlook-f) - seems to have worked at some point, then it didn't, then it did again, and now it looks like it doesn't work anymore.
* [Gmail](https://stackoverflow.com/questions/45000702/having

[2020-04-16 04:05] kenkotch commented on #60
thank you for the fast reply @tschoffelen
too bad there is no workaround...yet

[2020-04-16 09:32] tschoffelen commented on #60
Yep... Seems like something that you'd expect to be supported by everyone...

Since it's not a limitation of this library, but rather of the email clients themselves, is it okay if I close this issue for now?

[2020-04-16 09:32] #60 closed

[2020-04-20 17:37] davidgruebl commented on #58
Fixed in https://github.com/tschoffelen/react-native-email-link/pull/61

[2020-04-20 21:24] solomonhawk commented on #58
@gekitz We're hitting this too.  Seems like a pretty big problem.

The associated fix is pretty small. Any chance we could see a quick turnaround on a release for that?

Thank you!

[2020-04-21 13:00] mvanroon opened #62 "[Android] body argument in openComposer() can't handle text after question marks"
@gekitz recently implemented Android support for this library (thanks!)

however when I use his/her fork (https://github.com/muratakkas/react-native-email-link/tree/fix/newtask_crash) and compose an email which contains a URL with query parameters, all the text after the question marks is removed:

![IMG_3484](https://user-images.githubusercontent.com/1309448/79869804-3dbf0d80-83e2-11ea-8a49-cb19b

[2020-04-21 13:35] gekitz commented on #62
just a hunch, but I guess we’ll have to url-encode this and it will work. I’ll have to try it.

[2020-04-21 13:38] mvanroon commented on #62
I've tried this before by putting a mailto: link in Linking.openUrl() and encoding the parameters, but I didn't work

[2020-04-21 17:04] #58 closed

[2020-04-21 17:11] tschoffelen commented on #59
That's all fine for the javascript side, but did you also rebuild the native part of the app (e.g. using `react-native run-android`)?

[2020-04-21 17:59] awkpagong commented on #59
@tschoffelen yes I also did `npx react-native run-android` but the error is still occurring. Any idea what else might be causing the issue?

[2020-04-30 11:07] mvanroon opened #63 "Errors are not recognized by Sentry"
Errors caused by openInbox and openComposer not recognized by Sentry because they're not instances of Error.

<img width="473" alt="Screenshot 2020-04-30 at 13 06 56" src="https://user-images.githubusercontent.com/1309448/80703673-80b86980-8ae3-11ea-9b58-683b0fca664f.png">

[2020-04-30 12:03] #63 closed

[2020-05-09 11:09] #52 closed

[2020-05-11 10:19] dbilgin opened #69 "Can't catch error if no Email client"
Hi there, I can't seem to catch any errors when there was no email client on my iOS simulator.

[code]

It doesn't get to the catch statement at all, but I do get a warning on the simulator as below:

<img width="401" alt="Screenshot 2020-05-11 at 12 18 37" src="https://user-images.githubusercontent.com/15243788/81551097-8d5d7d00-9381-11ea-9f9d-26cb16718a67.png">

Am I doing something wrong or is

[2020-05-11 11:59] tschoffelen commented on #69
Good catch! (sorry, I couldn't resist 😄)

I think I found the problem, and just released `react-native-email-link@1.8.2` that hopefully fixes it. Would you mind giving it a try? Don't have a dev environment set up to test it myself at the moment.

[2020-05-11 12:17] dbilgin commented on #69
😄 my pleasure! @tschoffelen
And I just tried it and it seems it's fixed, thanks a lot for the fast response!

[2020-05-11 12:30] #69 closed

[2020-05-11 12:30] tschoffelen commented on #69
Happy to hear!

[2020-05-13 11:23] #62 closed

[2020-05-14 16:49] kidroca opened #72 "openInbox does not show an action sheet but directly opens the mail"
Reading the possible options I would expect that providing options would trigger a prompt with the configured items:

[code]

Instead the mail app is directly opened

An Action Sheet appears only when there are more than one mailing apps - maybe that behavior should be documented

[2020-05-14 18:20] tschoffelen commented on #72
Hi! Good point that we don't explicitly note that in the README at the moment.

 Most of the uses of this library entail a screen with a button labeled something like 'Open inbox', in which case it makes sense that it only shows an ActionSheet with multiple options if there is more than a single option.

[2020-06-02 16:16] psyzz opened #74 "Line breaks in "body" doesn't seem to work"
Hello,

thanks for your great lib, i'm using it to open the user favorite email client.
With Apple Mail line breaks are taken into account, but with GMAIL it is not.

Do you have any idea why and/or where can i search to this feature ?

Thank you,
Regards.

[2020-06-02 16:27] tschoffelen commented on #74
Hi, thanks for using the library!

I don't think email subjects generally support line breaks.

[2020-06-02 16:49] psyzz commented on #74
Oh yes sorry i wanted to say « body ».
And Android i also have a weird behaviour, every space are replace with hexadecimal code %20

[2020-06-02 17:07] tschoffelen commented on #74
Ah, I see. I think you need to use `\r\n`, as per this StackOverflow comment:

https://stackoverflow.com/questions/22765834/insert-a-line-break-in-mailto-body#comment60488593_25634014

[2020-06-02 17:09] #72 closed

[2020-06-03 13:53] psyzz commented on #74
Thanks for the link, i tried `\r\n` , `\n\n` , `<br/>`, `<br>` but gmail don't seem to take them into account.
The body string in the Gmail mobile app shows the string \r\n, \n\n, etc

[2020-06-17 11:18] joaosousafranco commented on #59
Ive just tested this in android and it works after rebuilding the native app, i believe this can be closed.

[2020-06-17 13:14] tschoffelen commented on #59
I think so too, thanks @joaosousafranco! :)

[2020-06-17 13:14] #59 closed

[2020-07-16 13:17] emielvanliere opened #76 "Url encode body breaks on Android Gmail"
Hi,

Thanks for creating this lib :-)

Your recent change in https://github.com/tschoffelen/react-native-email-link/pull/71 breaks the email body on Android for me. Gmail now renders the email encoded e.g. `Hi%20there%20` etc.

Reverting the 'fix' in said PR resolves the issue for me.

This happens with Gmail 2020.06.14 (=latest version) on Android 9. I haven't tried other clients.

Perhaps `openC

[2020-07-22 17:03] MaxAtkinson commented on #74
@psyzz Having the same issue with GMail client.

[2020-07-22 17:04] psyzz commented on #74
I did not found any solution :(

[2020-07-24 21:49] tschoffelen commented on #74
It seems like this might just be a limitation of mobile Gmail unfortunately...

I don't know if there's any channel for support on Google's side?

[2020-09-22 20:24] radko93 commented on #76
It also breaks some other emails on iOS. I think everyone has to do it by himself.

[2020-10-24 19:13] #76 closed

[2020-10-24 20:21] cesar3030 commented on #76
Hey @radko93 @emielvanliere,
I also had this issue so I added the `encodeBody` body flag you requested.

Cheers!

[2020-11-05 00:35] kei95 commented on #74
It is quite late but for people using the older version than `1.9.2`, you can solve the problem by updating the dependency to the latest version. However, the bug still happens if you still `encodeBody` to `true`.

By looking at the commit below, it looks like `encodeURIComponent` is making this behaviour, so I recommend you to use `openComposer` without enabling`encodeBody` for now.

https://gith

[2020-11-06 17:33] #74 closed

[2020-11-20 02:40] jakallergis commented on #12
I get the exact same thing and I'm no TypeScript (RN 0.63)

[2020-11-27 11:13] joenas opened #78 "iOS: "Mail" is available as option even though uninstalled"
It's possible to uninstall Mail on an iPhone, which I have for whatever reasons I can't remember. It still shows up in the list though and when you try to open it you get an error:

[code]

~~That error can't be caught further up so it would have to be done [here](https://github.com/flexible-agency/react-native-email-link/blob/master/index.ios.js#L295), if that's how you want to handle it.~~ I was

[2021-01-28 10:34] liushijie686 commented on #22
@cesar3030 Hello, Android. Is that ok？

[2021-02-08 20:39] rsml opened #79 "openInbox doesn't show action sheet on iOS even though both Mail and Gmail are installed"
Testing on my iOS 14.4 device.

I have both Gmail and Mail installed. Regardless of what parameters I use or don't use when I call openInbox(), it always opens the Mail app directly. I'm expecting it to show an action sheet with the option to choose between Mail and Gmail.

[2021-02-08 22:43] rsml commented on #79
Sorry my mistake, I neglected to add the LSApplicationQueriesSchemes

[2021-02-08 22:43] #79 closed

[2021-03-13 16:41] #35 closed

[2021-03-25 15:12] enzzoperez opened #80 "iOS: Question / Open action sheet in ios"
Hello ✋ , I would like to know if is possible to get this behaviour in ios

![imageslack](https://user-images.githubusercontent.com/22937791/112495263-80ac0280-8d62-11eb-82d8-c265cdc702eb.png)

As you see there, when I click a button,an action sheet open and you can to select what email client open.

In this moment, when I want to open some client email I get this screen

<img width="493" alt="Scr

[2021-03-25 17:56] rgommezz opened #81 "Android targetSdkVersion 30: calling `openInbox` does nothing"
Quoting new upcoming Android requirements:

I just updated both `compileSdkVersion` and `targetSdkVersion` to `30` for my next update and the module stopped working. Basically when calling `openInbox` nothing happens and the promise resolves successfully with `undefined`

It works as expected when the target version is `29` or lower.

[2021-03-25 18:25] tschoffelen commented on #78
Sorry for the massively delayed response! :)

I think using `canOpenURL` is probably the most robust solution. A PR would be very welcome for this.

[2021-03-25 18:28] tschoffelen commented on #80
Hi! The library will automatically show the available options in a menu like the screenshots you've attached when there's more than 1 option available. If there's only one option, it will immediately open that app.

If you have multiple apps installed but the menu is not shown, it probably means you skipped the step in the README to [whitelist the apps](https://github.com/flexible-agency/react-nat

[2021-03-26 13:15] enzzoperez commented on #80
Thank for response @tschoffelen , yes I already have set the `Info.plist` and the package work btw, but as the second screen.. I dont know if this is beacause of ios version, but the behaviour that I search is like as the first screen (an action sheet like slack)

I mean, the only thing that I lack is the "UI" for the modal, so I thought make an action sheet, and the in each item call to `openInbo

[2021-03-26 14:25] tschoffelen commented on #80
`openInbox` already has that sheet built in, see: https://github.com/flexible-agency/react-native-email-link/blob/master/src/ios.js#L181

[2021-03-26 16:10] enzzoperez commented on #80
Ooh, that's right!, thank you @tschoffelen , I will review again the app

[2021-03-26 16:10] #80 closed

[2021-03-30 07:58] benhowes commented on #81
I've just started using this package and interested in getting this resolved. I was looking around at the changes in API 30. Could it relate to [this change](https://developer.android.com/about/versions/11/privacy/package-visibility) @rgommezz? It looks like the packages will need declaring in the same way as they do on iOS.

[2021-03-31 19:38] tschoffelen commented on #81
I'm not an android expert per se, so would be really happy if anyone else would be able to take a stab at this. If not, I'll try to find a solution early next week.

[2021-04-02 20:34] tschoffelen commented on #81
I was trying to reproduce this, but realised both of my test devices are still stuck on Android 10. You seem to be spot on though @benhowes, it's indeed new privacy functionality in Android 11.

I'm guessing this snippet needs to be added within your `<manifest>...</manifest>` in `android/app/src/main/AndroidManifest.xml`:

[code]

Would anyone be able to test this and verify if this solution work

[2021-04-08 12:46] ezequielvictor commented on #81
does lib work with the expo? I'm having the same problem

[2021-04-08 18:08] ezequielvictor commented on #81
here `https://github.com/flexible-agency/react-native-email-link/blob/master/docs/expo.md`
he says to put this in the `app.json` to work, but here it didn't work

[2021-04-09 09:22] tschoffelen commented on #81
That's only for iOS, Expo doesn't have similar functionality to whitelist what apps you can open on Android yet...

[2021-04-23 07:12] rishiankush opened #82 "Add attachment to email"
Is there a way I can add attachments using this module. This module works well as expected but unable to share attachments. I want to share a pdf file. How can I add that?

[2021-04-24 19:00] tschoffelen commented on #82
There's currently no way to do that as far as I'm aware. Happy to hear ideas from others though, would be a cool feature to add!

[2021-04-26 04:09] rishiankush commented on #82
Thanks @tschoffelen for the confirmation! Highly appreciated

[2021-05-24 07:18] tschoffelen commented on #81
Fixed in #84

[2021-05-24 07:18] #81 closed

[2021-09-15 23:22] sweetraare opened #86 "Sniper Link"
Is it possible to define a sniper link to open the email app with a search.? With something like this: `https://mail.google.com/mail/u/0/#search/from%3A%40ACME.com+in%3Aanywhere`

[2021-09-18 18:25] msoose commented on #78
Is there any easy way to mitigate this or not show Mail as an option when a user doesn't have Mail.app installed?

[2021-09-19 09:14] tschoffelen commented on #86
I don't think most email apps support that, unfortunately. Or at least not using a consistent query format.

[2021-09-30 05:42] doublethefish opened #88 "Eslint reports "error Unable to resolve path to module 'react-native-email-link' import/no-unresolved""
Repro:

1.  Create a typescript rn app
2. Ensure .eslint is installed and running
3. Install react-native-email-link
4. in any .tsx/.ts file add `import { openComposer } from "react-native-email-link";`

Expected:
The app run-time and linting work fine,

Current:
Only the run-time works and linting fails.

[2021-10-10 20:14] zach-planet-nine opened #89 "Function cannot be cloned"
I'm trying to build a project that used to build a few years ago, and now isn't building. I'm getting a very terse error that function in android.js can't be cloned:

`error: node_modules/react-native-email-link/src/android.js: function (path) {
          return fn.call(state, path, state);
        } could not be cloned.`

[This SO post](https://stackoverflow.com/questions/67168197/react-native-ru

[2021-10-11 11:50] eranda-intervest opened #91 "openInbox methods not working in android devices"
Latest version not opening the openInbox methods ?
any reason. most of samsung devices

[2021-10-15 10:32] ObidosDev opened #95 "[iOS] askAppChoice does not exported"
src/ios.js has nice function, but not exported from module

[2021-10-15 10:33] ObidosDev commented on #95
tmp solution is `require('react-native-email-link/src/ios').askAppChoice`

[2021-10-26 18:05] MicaelRodrigues opened #96 "[Expo] Failed to resolve plugin for module "react-native-email-link""
Expo is unable to resolve the `react-native-email-link` plugin.

Steps to reproduce:
1 - `expo init`
2 - Add `"plugins": ["react-native-email-link"]` to app config.
3 - `expo config --type prebuild`

Note: `expo --version: 4.12.1`

[2021-10-31 12:36] pekq commented on #96
Faced the same problem. Couldn't find the root cause of it.
As a temporary workaround, I copied the plugin into our project's dir structure and imported from there:
[code]

[2021-11-01 07:26] tschoffelen commented on #96
cc @matt-oakes

[2021-11-01 07:58] matt-oakes commented on #96
@MicaelRodrigues 👋 Can you explain a bit more about the snack you posted? There's no error message from running that and everything looks to be set up correctly there.

The most likely cause of this is either some sort of cachine inside Expo, or not having the correct version of the library installed.

What seems to be missing from these reports is the full error message you're getting and a minim

[2021-11-01 09:08] MicaelRodrigues commented on #96
Download the snack, run `yarn` and run `expo config --type prebuild`. You should the same error message.

I have the last version, and I don't have the same problem with other plugins, such as the one from expo [example](https://docs.expo.dev/guides/config-plugins/#using-a-plugin-in-your-app).

The most verbose error i get is `Failed to resolve plugin for module "react-native-email-link" relative

[2021-11-05 16:50] saerdyey commented on #96
I am getting a similar issue with using babel.config.js file for plugins. The error says `Cannot find module 'babel-plugin-react-native-email-link'`

[code]

[2021-11-05 17:25] tschoffelen commented on #96
@saerdyey I think you might be adding it into the wrong file - this should go into your Expo config file (`app.config.js`) not the Babel config file.

[2021-11-05 17:34] saerdyey commented on #96
Thank you for informing me @tschoffelen . I just added it there because the babel config file was already there when I initialized the project. I also used other plugins configured there like dotenv, they worked fine so I thought it is alright doing it there.

[2021-11-09 07:04] fermmm commented on #96
Same issue here: `Failed to resolve plugin for module "react-native-email-link" relative to "<PROJECT_PATH>".`

[2021-11-10 06:35] ponomarevv opened #97 "[Android] Build "Failed to create MD5 hash for file content" with RN 0.66 / Gradle plugin 4.2.2"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Looks like there is an issue with latest RN version (it was fixed when I updated gradle plugin version to be the same as in RN itself)

[code]

I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-email-link@1.12.2`, here is the diff that solved my problem:

[code]

also i added `gradlePluginVersion` variable

[2021-11-10 09:30] tschoffelen commented on #97
Hi @ponomarevv, thanks for that! Would you be able to open a PR with these changes? Happy to accept them!

[2021-11-10 11:54] tschoffelen commented on #96
For people experiencing this problem and it blocking them from using the library, here is a temporary solution:

1. Remove the plugin from your Expo config file.
2. Follow the [old instructions](https://github.com/flexible-agency/react-native-email-link/blob/7e13697b0b2bb273c9d4cedbcfbb700114ad4700/docs/expo.md) to enable on iOS.

If anybody with more Expo experience than me has a solution for thi

[2021-11-11 15:42] mpnouwens commented on #91
Same issue here!

[2021-11-11 15:50] mpnouwens commented on #91
Updated version from 1.8.2 to the latest one - seems to have done the job!

[2021-11-12 08:22] #91 closed

[2021-12-14 16:19] ryanhyslop commented on #96
I was getting this error also. ESLint was also failing for us with this error:
`
Error: Cannot find module '/Users/ryanhyslop/Developer/my-sports-wellbeing-app/node_modules/react-native-email-link/index'. Please verify that the package.json has a valid "main" entry
`

Looking into the `package.json` we have `main: index` set but there is no `index.js` in the project, just `index.(ios|android).js`

[2021-12-18 03:06] jlounds opened #98 "Error running on Android"
Hello - I am having a problem getting my project to run on locally on the Android emulator after installing (and adding the sample "openComposer" code for a test)

Yarn version 1.22.17 (I just migrated this project from npm, if that makes a difference?)
React Native ~0.63.3

Execution failed for task ':app:processDebugResources'.

     project_name/node_modules/react-native-email-link/android/buil

[2022-01-04 09:45] RicardoBrito1938 commented on #96
Hello guys, i tried all the solutions before and none worked in my expo project, same error, i am running on  "expo": "~43.0.2", i will keep trying to workaround and post if i find any solution

[2022-01-05 15:39] flexbox commented on #96
Hey @RicardoBrito1938

I successfully used a mix of 2 libraries to make it work on iOS and Android with Expo
`react-native-email-link` and `expo-intent-launcher` using just pure JavaScript

The code is available here https://davidl.fr/blog/react-native-expo-email-app

[2022-01-05 18:17] RicardoBrito1938 commented on #96
that saved me, thank you so much

[2022-01-07 14:54] gustabessa commented on #98
Hello! I was running into the same issue.
In my case, upgrading the project's gradle version then running `cd android && ./gradlew clean` solved it!

This article helped me solve my issue: https://stackoverflow.com/questions/62969917/how-to-fix-unexpected-element-queries-found-in-manifest-error

Hope it helps you and everyone who gets here too!

[2022-01-21 15:45] MikiahFender opened #99 "Module not found: Can't resolve 'react-native-email-link' in '/Users/user/react-app"
Summary: can't import react native email link into our react native web project.

Repo steps:
- Create fresh react app.
- yarn add react-native-email-link
- import into app.js
- yarn start

current results:
`Compiled with problems:X

ERROR in ./src/App.js 6:0-52

Module not found: Error: Can't resolve 'react-native-email-link' in '/Users/mf/Documents/dev/test-react-app/src' `

It looks like it's l

[2022-01-24 12:14] craigcoles commented on #74
This is not an issue with this package, but a change that was made to how iOS handles mailto links:

Source: https://developer.apple.com/forums/thread/681023?answerId=678880022#678880022

[2022-01-25 08:22] zerobertel commented on #88
Have the same issue, any solutions except "eslint-disable-next-line" or something like that ?

[2022-02-07 15:38] jkimbo commented on #96
Found a solution to this: #100

[2022-02-08 10:37] #96 closed

[2022-02-08 10:42] tschoffelen commented on #99
Duplicate of #96, solved in #100

[2022-02-08 10:42] #99 closed

[2022-02-08 10:46] #95 closed

[2022-03-19 09:51] switch13 commented on #35
Just wanted to mention to anyone upgrading from a previous version and getting the following error: error: package com.facebook.react.modules.email does not exist import com.facebook.react.modules.email.EmailPackage;

I just needed to go into android/app/src/main/java/YOURAPP/MainApplication.java and change

this: import com.facebook.react.modules.emails.EmailPackage;
to this: import agency.flexib

[2022-03-19 13:40] tschoffelen commented on #35
You shouldn't need to manually include this in your MainApplication.java anymore if you're on a recent version of React Native, since it now has auto-imports.

[2022-04-08 09:08] ruxiang05 opened #101 "Sheet not showing, Mail opening instead."
I have Mail and Gmail installed. However, the app is not showing the sheet, but opens the Mail app instead.

This is my config in `app.json`
[code]
 Using latest version `1.31.1`. I am using `Expo`
 Testing on iOS physical device.
 What is happening here? Am I missing something?

[2022-04-08 09:35] jameschetwood opened #102 "Always open Outlook on Inbox screen?"
When I open Outlook for the first time it opens the default screen which is the inbox. However if Outlook is already open in the background and on a different screen (eg reading an email), then it's opened on this screen. Is there a way to instead always open Outlook on the start / inbox scren?

[2022-04-16 20:03] tschoffelen commented on #102
As far as I know there unfortunately isn't a specific URL scheme to open Outlook on a specific screen...

[2022-04-16 20:03] #102 closed

[2022-04-16 20:05] tschoffelen commented on #101
Did you rebuild the native app after making those changes to your app.json file?

[2022-04-16 20:05] #101 closed

[2022-04-19 10:45] ruxiang05 commented on #101
Yes, i rebuilt it

[2022-05-03 00:23] i8ramin commented on #101
I am experiencing the same thing. Always opens up the Mail app even though I have Gmail app installed.

[2022-05-13 04:45] uasghar-smile opened #103 "Body text is not showing completely it's cutting out."
Hi I am having an issue while trying to send an email body text is not showing completely

[2022-05-13 04:55] uasghar-smile commented on #103
Hi @tschoffelen can you please assist me on this why my body text is not being shown completely.
Platform: "IOS"

[2022-05-30 18:07] pastoreli opened #104 "Can't catch error if no Email client on Android"
I'm trying to handle with no email app exception, but it's not work on **Android**, because its never fall the `.catch` and `.then` always return null as result

_Alert: Its work fine in IOS_

[code]

[2022-06-01 20:40] tschoffelen commented on #104
I think this information is indeed currently not passed back from the native bit of the Android integration to the javascript side. Definitely something we could add I think.

[2022-06-10 09:02] andrew-blackwood commented on #104
This would be much appreciated. The lack of throwing an error when no email client is found on Android is potentially a blocker for me right now in using this library.

[2022-06-10 11:34] tschoffelen commented on #104
Anyone able to do a PR for this?

[2022-06-10 11:52] andrew-blackwood commented on #104
Yes, I can. I have already created the fix in a forked repo - will create the PR later today.

[2022-06-13 08:55] #104 closed

[2022-06-16 10:53] giacomoalonzi opened #106 "Cannot read property 'compose' of null"
Hello there, I've implemented openComposer properly, on ios works fine, on android i got this error message:
[code]

any hint?

[2022-06-16 13:18] tschoffelen commented on #106
The Android version of the library uses a native component. Make sure to rebuild the native app, that should work.

[2022-06-17 07:48] tschoffelen commented on #106
That doesn't work unfortunately. There is custom native code needed on Android to open specific email apps using App Intents. See the Expo section in the README for more info. You'll need to compile the app yourself to test the Android side of the functionality.

[2022-06-17 07:48] #106 closed

[2022-07-16 13:56] ahtokca opened #107 "No longer working on android"
When I use openInbox then I see in the logcat

[code]

Looks like it is broken by recent security changes on android

[2022-07-16 14:09] tschoffelen commented on #107
Please ensure to follow the instructions in the README to whitelist your application for opening email apps.

[2022-07-16 15:15] ahtokca commented on #107
@tschoffelen thanks for the rapid answer. but please don't jump to conclusions. The package stopped working out of the blue. I checked https://github.com/includable/react-native-email-link#readme and found nothing about any whitlist. Could you please help me sort it out?

[2022-07-18 10:28] ahtokca commented on #107
Well it requires QUERY_ALL_PACKAGES permission on android 30+ which is big thing to get approved nowadays.

[2022-07-18 10:57] tschoffelen commented on #107
That is weird, the query as is used to work fine on Android 11 and 12.

You wouldn't want to switch to query_all_packages permission though, rather you'd specify each of the individual packages (email clients) you wish to support. We do something similar for iOS:
https://github.com/includable/react-native-email-link/blob/master/README.md?plain=1#L48

[2022-07-18 10:57] tschoffelen commented on #107
And apologies for being a bit too over-eager in closing this issue!

[2022-07-18 11:07] ahtokca commented on #107
@tschoffelen figured out. That's some how stale version in node_modules/ without queries in manifest
so `npm ci` helped
works now

[2022-07-18 12:14] #107 closed

[2022-07-26 08:02] maheshmuttinti opened #109 "Even I installed the some email apps those are not showing in intent modal"
## Android

I've used the `openInbox()` method.

In IOS all apps are showing in the intent modal. but in android few apps like outlook, yahoo mail apps are not showing in the intent modal.

So, please fix this issue.

In the Below table, I've mentioned the table which you can check.

| email client | device type | status |
| ------ | ------ |  ---- |
| Apple Mail | Android | Won't work on Android

[2022-07-29 14:03] nicolasdevienne commented on #78
@tschoffelen I think on iOS canOpenURL return always true for Mail even if the app is uninstalled. Like Apple Maps, if you uninstall Apple Maps, canOpenURL('maps://') return true :(

[2022-07-29 14:07] nicolasdevienne opened #110 "Apple Mail vs Default email reader"
Apple Mail is renamed with "Default email reader" with last version 1.14.1

previous version installed (1.13.1), we have "Mail"
![IMG_8534](https://user-images.githubusercontent.com/65358122/181777672-b6b7a011-b56b-407d-b34e-2e4798cadbf8.PNG)

last version installed (1.14.1), we have "Default email reader"
![IMG_8535](https://user-images.githubusercontent.com/65358122/181777797-ec76e3e2-0b2c-4c65-

[2022-08-23 14:05] nicolasdevienne commented on #110
Hi @tschoffelen ! No PR for this issue ? :)

[2022-08-23 15:00] tschoffelen commented on #110
What solution would you suggest for this?

This change was made because now iOS has the option to change the default mail client, this first option didn't always link to the stock 'Mail' app anymore (since we're using the `mailto://` URL scheme).

See the discussion in this PR here: https://github.com/includable/react-native-email-link/pull/108

[2022-08-29 16:07] nicolasdevienne commented on #110
I don't understand how it works ? I have 3 mail clients installed on my iPhone : Apple Mail, Outlook and Gmail. If Apple Mail is my default mail client, I have 3 options in action sheet as you can see on my screenshort and the first option open Apple Mail. If Outlook is my default mail client, I have the same option but "Outlook" option is not replace by "Mail" option... I have 2 options for the s

[2022-09-16 09:42] tschoffelen commented on #110
Apple doesn't give us the ability to detect what email client is set as the default one unfortunately, this is just the app that the system tells to respond to the `mailto://` URI scheme.

There is also no URI scheme that specifically targets Apple Mail, so if you have another client set to default, we can't open the Apple Mail app to draft a message. These are just iOS limitations, nothing I can

[2022-09-20 20:32] nicolasdevienne commented on #110
Hi @tschoffelen and thank you! Is it possible to translate "Default email reader" for French app?

[2022-10-24 16:58] Daidalos117 commented on #109
Could this be due the new "feature" of android OS which limits [chooser for 2-3 items](https://issuetracker.google.com/issues/134367295)?
I didn't find any issue mentioning this here, but it's exactly what happening for me. I have 5 clients installed in the phone, but only 3 gets shown, and no way to influence this list.

[2022-10-26 15:20] Daidalos117 opened #111 "Influence list of email clients on iOS"
Hello,
I noticed that the list of email clients is hardcoded in the code of the library. But we want to add some email clients used in our country.
I could make a PR with changes necessary for rewriting the list, I was thinking something easy like:

[code]
Same for titles and uriParams vars.
and then on our side just
[code]
Would this be suitable for you, or do you prefer us making our own fork an

[2022-10-27 07:23] tschoffelen commented on #111
Good idea! We could also add this as an option to the `openInbox` method:

[code]

Or, also always happy of course to add new email apps as default options to the library! The more the merrier!

[2022-10-27 09:05] Daidalos117 commented on #111
Sounds good! What would you prefer? Possibility to add additional data or just adding new ones to library? Honestly I don't have an opinion on this 😅

[2022-10-27 09:14] tschoffelen commented on #111
Adding new ones to the library would be best I think, has direct added value for other users of the lib

[2022-11-04 16:41] Daidalos117 commented on #111
Good point :) I have created a PR. But I wanted to ask, how do you got to know what path is app using for opening a mail? Did you contact the authors of the email clients?

[2022-11-10 09:38] tschoffelen commented on #111
Just a lot of googling and experimenting for most of them...

[2022-11-10 15:46] nicolasdevienne commented on #110
@tschoffelen

[2022-11-10 20:23] nicolasdevienne commented on #110
@tschoffelen I can't push my PR

[code]
Can you give me permission ?

[2022-11-11 15:27] tschoffelen commented on #110
You can't push directly to this repository - you'd push to your own fork, then create a PR.

https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork

[2022-11-11 16:43] nicolasdevienne commented on #110
@tschoffelen done! https://github.com/includable/react-native-email-link/pull/113

[2022-11-11 18:47] #110 closed